<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>3A483237-4D15-46CE-9D70-058FEAF535F3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ebayuk</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>eBay UK</string>
			<key>url</key>
			<string>http://www.ebay.co.uk/sch/i.html?_trksid=p5197.m570.l1313&amp;_nkw={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4AD4ABC6-89D9-47FA-99FB-03F4A3A349C4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dx</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>DealExtreme</string>
			<key>url</key>
			<string>http://dx.com/s/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57026941-F1E2-40D7-84E6-B30D32BA2DE3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tl</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>TorrentLeach Search</string>
			<key>url</key>
			<string>http://torrentleech.org/torrents/browse/index/query/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C58D76B8-FED9-4B91-905D-4A5FDA8E862E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rt</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Rotten Tomatoes</string>
			<key>url</key>
			<string>http://www.rottentomatoes.com/search/?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
