<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.piratebay</string>
	<key>connections</key>
	<dict>
		<key>11D00DB4-9EF5-4B26-9CAC-0B38A8BC18CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9182F96C-F392-49BF-AF44-B8AC2B369C06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B2FEBEA-C1A3-4863-B06C-C8E75A2CFA29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE0FE3A3-E0E1-4C90-AA68-052CC36D5238</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B7195A0-B322-47B5-93A4-CABF636DC7D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1C16B28-B0AE-4FFB-92C9-CE5DAD7825FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E0CC73D-1624-4E18-8D05-C865A95E4ECD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86FC9EB0-92B8-431C-9F6E-0E85B4231B95</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Run search on thepiratebay.se</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB9BF956-62A4-4B48-BCA6-F8F2B15B2C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>868D1166-AD5A-4A91-B944-6DCEBDBAF3E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D135D6C9-2EF0-484D-A840-217D9AD43EFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9233BFF-87D0-4C35-AE45-C019CB36985A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA65E6C-C782-4E38-9E09-80C12CEC5901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7CE32AD-87E5-44C4-9F0B-187253CEA4F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA6085FF-AAE2-419A-8801-C8DF5B57820E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B66DAAEF-90EE-4E97-BC30-69CB5F2A7990</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5516F08-E1D8-4E2B-8987-04332CD4306A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D00DB4-9EF5-4B26-9CAC-0B38A8BC18CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B7195A0-B322-47B5-93A4-CABF636DC7D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>868D1166-AD5A-4A91-B944-6DCEBDBAF3E0</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Open torrent page on website</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9233BFF-87D0-4C35-AE45-C019CB36985A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Run search on website</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F29A164F-4FC1-4B89-9271-6B3B9E000AF8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Stream with NodeJS' Peerflix</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B2FEBEA-C1A3-4863-B06C-C8E75A2CFA29</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Stream with NodeJS' Peerflix</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7CE32AD-87E5-44C4-9F0B-187253CEA4F3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy magnet to clipboard</string>
			</dict>
		</array>
		<key>F29A164F-4FC1-4B89-9271-6B3B9E000AF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57121C63-F8DD-405E-95D4-9187890FAC23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string>find magnet links</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Piratebay</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Download started...</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9182F96C-F392-49BF-AF44-B8AC2B369C06</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();
$cache = $w-&gt;cache();

$data = unserialize("{query}");
$id = $data['id'];

$history = array();
if(file_exists("$cache/history.db")){
	$history = unserialize(file_get_contents("$cache/history.db"));
}

array_push($history, $id);

file_put_contents("$cache/history.db", serialize($history));

echo $data['title'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11D00DB4-9EF5-4B26-9CAC-0B38A8BC18CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -g "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>F1C16B28-B0AE-4FFB-92C9-CE5DAD7825FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$data = unserialize("{query}");
echo $data['magnet'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B7195A0-B322-47B5-93A4-CABF636DC7D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$data = unserialize("{query}");
echo $data['link'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>868D1166-AD5A-4A91-B944-6DCEBDBAF3E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>D135D6C9-2EF0-484D-A840-217D9AD43EFB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>pb</string>
				<key>runningsubtext</key>
				<string>Search for {query} in progress...</string>
				<key>script</key>
				<string>./launcher.sh "{query}"</string>
				<key>subtext</key>
				<string>Search with thepiratebay in alfred</string>
				<key>title</key>
				<string>Search PirateBay for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E5516F08-E1D8-4E2B-8987-04332CD4306A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$data = unserialize("{query}");
echo $data['search'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9233BFF-87D0-4C35-AE45-C019CB36985A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3EA65E6C-C782-4E38-9E09-80C12CEC5901</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Streaming in a second...</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>57121C63-F8DD-405E-95D4-9187890FAC23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();
$cache = $w-&gt;cache();

$data = unserialize("{query}");
$id = $data['id'];

$history = array();
if(file_exists("$cache/history.db")){
	$history = unserialize(file_get_contents("$cache/history.db"));
}

array_push($history, $id);

file_put_contents("$cache/history.db", serialize($history));

echo $data['title'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F29A164F-4FC1-4B89-9271-6B3B9E000AF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$data = unserialize("{query}");
echo $data['magnet'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B2FEBEA-C1A3-4863-B06C-C8E75A2CFA29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/local/bin
peerflix "{query}" -qvr -f /private/tmp/torrent-stream/</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>DE0FE3A3-E0E1-4C90-AA68-052CC36D5238</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$data = unserialize("{query}");
echo $data['magnet'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7CE32AD-87E5-44C4-9F0B-187253CEA4F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require_once ('workflows.php');
$w = new Workflows();

$cache = $w-&gt;cache();
$expiration = time() - 48 * 3600;

$di = new RecursiveDirectoryIterator($cache);
foreach (new RecursiveIteratorIterator($di) as $filename =&gt; $file) {
	if (strpos(basename($filename), ".") !== 0) {
		if (intval(explode(".", basename($filename)) [0]) &lt; $expiration &amp;&amp; strcmp(basename($filename), "history.db")!==0) unlink($filename);
	}
}
RemoveEmptySubFolders($cache);

function RemoveEmptySubFolders($path) {
	$empty = true;
	foreach (glob($path . DIRECTORY_SEPARATOR . "*") as $file) {
		$empty&amp;= is_dir($file) &amp;&amp; RemoveEmptySubFolders($file);
	}
	return $empty &amp;&amp; rmdir($path);
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BA6085FF-AAE2-419A-8801-C8DF5B57820E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search PirateBay for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>7E0CC73D-1624-4E18-8D05-C865A95E4ECD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://thepiratebay.se/search/{query}/0/7/0</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>86FC9EB0-92B8-431C-9F6E-0E85B4231B95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Magnet copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B66DAAEF-90EE-4E97-BC30-69CB5F2A7990</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "pirate " &amp; "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB9BF956-62A4-4B48-BCA6-F8F2B15B2C0A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>If you want to use the direct streaming function, you’ll have to install NodeJS and Peerflix on your own.</string>
	<key>uidata</key>
	<dict>
		<key>11D00DB4-9EF5-4B26-9CAC-0B38A8BC18CC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3EA65E6C-C782-4E38-9E09-80C12CEC5901</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>57121C63-F8DD-405E-95D4-9187890FAC23</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5F84ABA7-BE4D-4B6C-B48A-418ADEB09ACB</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>7B2FEBEA-C1A3-4863-B06C-C8E75A2CFA29</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>7B7195A0-B322-47B5-93A4-CABF636DC7D7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7E0CC73D-1624-4E18-8D05-C865A95E4ECD</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>868D1166-AD5A-4A91-B944-6DCEBDBAF3E0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>86FC9EB0-92B8-431C-9F6E-0E85B4231B95</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>9182F96C-F392-49BF-AF44-B8AC2B369C06</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B66DAAEF-90EE-4E97-BC30-69CB5F2A7990</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>B9233BFF-87D0-4C35-AE45-C019CB36985A</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>BA6085FF-AAE2-419A-8801-C8DF5B57820E</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>C7CE32AD-87E5-44C4-9F0B-187253CEA4F3</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>CB9BF956-62A4-4B48-BCA6-F8F2B15B2C0A</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>D135D6C9-2EF0-484D-A840-217D9AD43EFB</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DE0FE3A3-E0E1-4C90-AA68-052CC36D5238</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E5516F08-E1D8-4E2B-8987-04332CD4306A</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F1C16B28-B0AE-4FFB-92C9-CE5DAD7825FC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F29A164F-4FC1-4B89-9271-6B3B9E000AF8</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>florianpellet.com</string>
</dict>
</plist>
