<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>alfred.theme.custom.A3084388-E94F-4A8C-B68E-E7637631C5C4</string>
	<key>darkthemeuid</key>
	<string>theme.fileimport.F14B6856-EE79-4468-B02C-DAD060668524</string>
</dict>
</plist>
