<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>DavidStaron.LengthenUrl</string>
	<key>connections</key>
	<dict>
		<key>499206CE-B850-49FB-8654-D80D410950E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA65BCF-106A-4B9E-9919-1D1BF13F1907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4C330A9B-BE7B-42BE-964F-3737C38904D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>499206CE-B850-49FB-8654-D80D410950E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Staron</string>
	<key>description</key>
	<string>Lengthen Shortened Urls</string>
	<key>name</key>
	<string>LengthenUrl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1179914</integer>
				<key>hotstring</key>
				<string>U</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4C330A9B-BE7B-42BE-964F-3737C38904D3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>url</string>
				<key>script</key>
				<string>php -f lengthenurl.php -- "{query}"</string>
				<key>subtext</key>
				<string>This may take a few seconds</string>
				<key>title</key>
				<string>Lengthening url…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>499206CE-B850-49FB-8654-D80D410950E1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7FA65BCF-106A-4B9E-9919-1D1BF13F1907</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>499206CE-B850-49FB-8654-D80D410950E1</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4C330A9B-BE7B-42BE-964F-3737C38904D3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7FA65BCF-106A-4B9E-9919-1D1BF13F1907</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>david@staron.nl</string>
</dict>
</plist>
