<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2D2F5E14-AA8D-49BA-8960-60A54BB444BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F144B720-C137-4CC4-B97F-7FF17BF95766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>gerar uma laerta</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stick Notifications</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sn</string>
				<key>subtext</key>
				<string>digite para começar...</string>
				<key>text</key>
				<string>Gerar Alerta</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D2F5E14-AA8D-49BA-8960-60A54BB444BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F144B720-C137-4CC4-B97F-7FF17BF95766</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D2F5E14-AA8D-49BA-8960-60A54BB444BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F144B720-C137-4CC4-B97F-7FF17BF95766</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
